:root{
	--shadow-color-from : #ffffff; /*#1ab2ff*/
	--shadow-color-to   : #ffffff;
	--fraim-bg-color    : #ffffff;
	--page-bg-color     : #f2f2f2;/*#4dc3ff; #cce6ff;*/
	--gap               : 0px 10px;
	--border-radius     : 10px;
	--dropdown-padding  : 60px;
	--frame-padding     : 20px;
	--border-style      : none;
	--fig_padding       : 10px;
	--fig_border_radius : 10px;
	--fig_bg_color      : #ffffff; /*cce6ff*/
	--font-family       : Courier New, monospace;
	--font-size         : ; 
};